@use './variables' as *;

@mixin typography($fontSize, $lineHeight, $letterSpacing: normal){
    font-size: $fontSize;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin flex($justify, $align, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}