@use '../utilities' as *;

.footer{
    margin: 34rem 3.33rem 0 1.5rem;
}

.logo_bottom{
    margin-bottom: 2.25rem;
}

.socials{
    width: 30%;
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    @include flex(flex-start, center);
    gap: 1.15rem;
}

.attribution{
    width: 100%;
    font-size: 0.65rem;
    text-align: center;
    color: $lightBlack;
    z-index: 150;
    opacity: 0.75;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 650px) {
    .footer{
        margin: 11rem 2.75rem 2rem 2.75rem;
        @include flex(space-between, center);

        &_text{
            width: 60%;
        }
    }

    .socials{
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1050px) {
    .footer{
        margin: 11rem 10rem 3rem 10rem;

        &_text{
            width: fit-content;
            @include flex(flex-start, center);
            gap: 8rem;

            .text_footer{
                width: 45%;
            }
        }
    }
}