@use '../utilities' as *;

#bg_pattern_1{
    display: none;
}

.logo{
    &_top{
        margin: 2.5rem 1.5rem 3.75rem 1.5rem;
    }
}

.header_main{
    @include flex(center, center, column);
    gap: 1.25rem;
    margin: 0 1.5rem 10rem 1.5rem;
}