@use '../utilities' as *;

body{
    color: $lightBlack;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100vw;
    height: fit-content;

    background-image: url('../assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: top -225px right -225px;

    @media screen and (min-width: 450px) {
        background-image: url('../assets/bg-main-tablet.png');
        background-position: top -350px right -225px;
    }

    @media screen and (min-width: 750px) {
        background-image: url('../assets/bg-main-desktop.png');
    }
}